PrixCarburants_instantane.xml
.PrixCarburants_instantane.xml.swp
__pycache__/FileProcessing.cpython-313.pyc
__pycache__/FileProcessing.cpython-313.pyc
__pycache__/gaspricefunctions.cpython-313.pyc
__pycache__/gasWindowsFunction.cpython-313.pyc
__pycache__/globalVariable.cpython-313.pyc
